<app-card [config]="cardConfig">
  <form action="">
    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.numberplate.label.num_plate'}" [placeholder]="'form.numberplate.placehodler.num_plate'" [ctrl]="getControl('num_plate')"></app-input-text>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-cell">
        <app-input-date [label]="{label:'form.numberplate.label.dop'}" [placeholder]="'form.numberplate.placehodler.dop'" [ctrl]="getControl('dop')"></app-input-date>
      </div>
    </div>
  </form>

  <div class="btn-area">
    <button (click)="save()">Enregistrer</button>
  </div>
</app-card>
