<app-card [config]="cardConfig">
  <form action="">
    <app-input-text [label]="{label:'form.numberplate.label.num_plate'}"
                    [placeholder]="'form.numberplate.placehodler.num_plate'"
                    [ctrl]="getControl('num_plate')"></app-input-text>
    <app-input-date [label]="{label:'form.numberplate.label.dop'}" [placeholder]="'form.numberplate.placehodler.dop'"
                    [ctrl]="getControl('dop')"></app-input-date>

    <!-- Le select pose problème, mais on peut pêtre le remplacer par une valeur par defaur dans le back ou frontend ? -->
    <!--<app-select [config]="actifSelectConfig"></app-select>-->
  </form>

  <div class="btn-area">
    <button (click)="create()">Enregistrer</button>
  </div>
</app-card>
