<main id="page">
  <div id="left-nav">
    <app-search-input [placeholder]="'search-input.user-search'"
                      (onValueChange)="search$.next($event)"></app-search-input>
    <ul *ngIf="list$ | async  as list">
      <li *ngFor="let numberplate of list">
        {{numberplate.num_plate|uppercase}}
      </li>
    </ul>
  </div>
  <section id="main-content">
    <ng-container *ngIf="numberplate$ | async as numberplate; else noSelected">
      {{numberplate |json}}
    </ng-container>
    <ng-template #noSelected>
      <app-card [config]="cardConfig">
        {{'numberplate-list.no-data' | translate}}
      </app-card>
    </ng-template>
  </section>
</main>
