<div class="flex-row">
  <div class="flex-cell">
    <img class="avatar" src="assets/avatar/user_female.jpg" alt="">
  </div>
  <div class="flex-cell flex-2">
    <table>
      <tr>
        <th>Adresse email </th>
        <td>{{detail.email}}</td>
      </tr>
      <tr>
        <th>Tel. (Pro) </th>
        <td>{{detail.telpro}}</td>
      </tr>
      <tr>
        <th>Tel. (Perso) </th>
        <td>{{detail.telperso}}</td>
      </tr>
      <tr>
        <th>Travail à </th>
        <td>{{detail.site.name}}</td>
      </tr>
      <tr>
        <th>Ajouté(e) le </th>
        <td>{{detail.created_on | date :  "dd.MM.y"}}</td>
      </tr>
    </table>
  </div>
</div>

