<form [formGroup]="periodGroup">
  pour ajouter une nouvelle période
  <div class="flex-row">
    <div class="flex-cell">
      <app-input-date [label]="{label:'form.cap.label.start_date'}"
                      [placeholder]="'form.cap.placeholder.start_date'"
                      [ctrl]="getControl('start_date')">
      </app-input-date>
    </div>
    <div class="flex-cell">
      <app-input-date [label]="{label:'form.cap.label.end_date'}"
                      [placeholder]="'form.cap.placeholder.end_date'"
                      [ctrl]="getControl('end_date')">
      </app-input-date>
    </div>
    <div class="btn-area">
      <button (click)="addPeriod()">add</button>
    </div>
  </div>
</form>

<!-- @todo récupérer la liste des périodes et utiliser un ngfor dans le div ci-dessous -->
<ng-container *ngIf="periodList$ | async as plist">

    <div *ngFor="let period of plist">
      <div>Période - date de début et date de fin</div>
      <table class="custom-table">
        <tr>
          <td>Date début</td>
          <td>Date fin</td>
          <td>Thème</td>
          <td>Commentaire</td>
          <td>Action</td>
        </tr>
        <ng-container *ngIf="appointmentList$ | async as aplist">

            <!-- @todo mettre un ngfor pour chaque rdv -->
            <tr *ngFor="let appoinment of aplist">
              <td><input type="date" value="DB DATA"/></td>
              <td><input type="date" value="DB DATA"/></td>
              <td><input type="text" value="DB DATA"/></td>
              <td><input type="text" value="DB DATA"/></td>
              <td>
                <button class="btn btn-danger" (click)="deleteSession()">Delete</button>
              </td>
            </tr>

        </ng-container>
        <!-- fin ngFor-->
        <form [formGroup]="appointmentGroup">
        <tr>
          <td><input type="date" placeholder="Date de début"/></td>
          <td><input type="date" placeholder="Date de fin"/></td>
          <td><input type="text" placeholder="Thème"/></td>
          <td><input type="text" placeholder="Commentaire"/></td>
          <td>
            <button class="btn btn-success" (click)="addAppointment()">Add</button>
          </td>
        </tr>
        </form>
      </table>
    </div>
  </ng-container>

