<form action="" class="text-center">
  <hr>
  <b>Certificat d'aptitude professionnel du 03/03/2022 au 03/03/2022</b>
  <app-input-date></app-input-date>
  <app-input-date></app-input-date>
  <input type="update" value="Ajouter"/>
</form>

<form action="" class="text-center">
  <hr>
  <b>Certificat d'aptitude professionnel du 03/03/2022 au 03/03/2022</b>
  <app-input-date></app-input-date>
  <app-input-date></app-input-date>
  <app-input-text></app-input-text>
  <app-input-text></app-input-text>
  <app-textarea></app-textarea>
  <input type="update" value="Ajouter"/>
</form>

<!-- Appointment table for CAP -->
<div class="row g-1 d-grid gap-3">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
      <th scope="col">Thème</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-success">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button class="btn float-left btn-sm btn-warning"><i class="fa fa-edit"></i></button>&nbsp;
        <button class="btn float-end btn-sm btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

