<app-card [config]="cardConfig">
  <form action="">
    <select class="custom-select custom-select-sm">
      <option selected disabled value="">Actif</option>
      <option>Activer</option>
      <option>Désactiver</option>
    </select>
      <input autofocus value="" type="text" placeholder="Username">
      <input autofocus value="" type="text" placeholder="Email">
      <input autofocus value="" type="text" placeholder="Password #1">
      <input autofocus value="" type="text" placeholder="Password #2">
  </form>
  <input type="button" value="Appliquer"/>
</app-card>

