<form [formGroup]="formGroup">
  <div class="flex-row">
    <div class="flex-cell">
      <app-input-text [label]="{label:'form.credential.label.username'}"
                      [placeholder]="'form.credential.placeholder.username'"
                      [ctrl]="getControl('username')"></app-input-text>
    </div>
    <div class="flex-cell">
      <app-input-text [label]="{label:'form.credential.label.email'}"
                      [placeholder]="'form.credential.placeholder.email'"
                      [ctrl]="getControl('email')"></app-input-text>
    </div>

    <div class="flex-cell">
      <app-input-text [label]="{label:'form.credential.label.password'}"
                      [placeholder]="'form.credential.placeholder.password'"
                      [ctrl]="getControl('password')"></app-input-text>
    </div>
  </div>

  <div class="flex-row">
    <div class="flex-cell">
      <app-select *ngIf="gradeSelectConfig$ | async as gradeSelectConfig"
                  [config]="gradeSelectConfig"
                  (onBlur)="update()">
      </app-select>
    </div>
    <div class="flex-cell">
      <app-select *ngIf="actifSelectConfig$ | async as actifSelectConfig"
                  [config]="actifSelectConfig"
                  (onBlur)="update()">
      </app-select>
    </div>
  </div>

</form>
<div class="btn-area">
  <button (click)="create()">Enregistrer</button>
</div>

