<p class="text-center">user-detail-credential works!</p>
<div class="alert alert-danger" role="alert">
 Message pour prévenir que les changements dans cette page peuvent avoir un risque!
</div>
<div>
  <select class="form-control form-control-sm">
    <option value="">Sélectionnez un rôle
    <option value="1">1
    <option value="2">2
    <option value="3">3
  </select>
</div>
<div>
  <select class="form-control form-control-sm">
    <option value="">Actif ou Innactif
    <option value="0">Actif
    <option value="1">Inactif
  </select>
</div>
<div class="alert alert-warning" role="alert">
  Mettre un select pour choisir le rôle du user dans l'interface ('Root', 'subRoot', 'User')
  <br>
  Mettre un check box pour activer ou désactiver les crédentials du user sélectionné.
</div>

