<main id="page">
  <div id="left-nav">
    <app-search-input [placeholder]="'search-input.prestataire-search'"
                      (onValueChange)="search$.next($event)"></app-search-input>
    <ul *ngIf="list$ | async  as list">
      <li *ngFor="let prestataire of list">
        {{prestataire.name|uppercase}}
      </li>
    </ul>
  </div>
  <section id="main-content">
    <ng-container *ngIf="prestataire$ | async as prestataire; else noSelected">
      {{prestataire |json}}
    </ng-container>
    <ng-template #noSelected>
      <app-card [config]="cardConfig">
        {{'prestataire-list.no-data' | translate}}
      </app-card>
    </ng-template>
  </section>
</main>
