<app-card [config]="cardConfig">
  <form action="">
    <app-input-text [label]="{label:'form.site.label.name'}" [placeholder]="'form.site.placehodler.name'" [ctrl]="getControl('name')"></app-input-text>
    <app-input-date [label]="{label:'form.site.label.date'}" [placeholder]="'form.site.placehodler.date'" [ctrl]="getControl('created_on')"></app-input-date>
    <app-textarea [label]="{label:'form.site.label.decription'}" [placeholder]="'form.site.placehodler.decription'" [ctrl]="getControl('description')"></app-textarea>
  </form>

  <div class="btn-area">
    <button (click)="save()">Enregistrer</button>
  </div>
</app-card>
