<app-card [config]="cardConfig">
  <form action="" *ngIf="numberplateService.currentDetail$ | async as detail">
    <ng-container class="alert alert-danger text-center" *ngIf="detail.numberplate_id.length ===0;else data">
      Aucuns résultats trouvés.
    </ng-container>
    <ng-template #data>
      <input autofocus value="{{detail.numberplate_id}}" type="text" placeholder="ID du prestataire" disabled>
      <input autofocus value="{{detail.num_plate}}" type="text" placeholder="Nom du prestataire">
      <input autofocus value="{{detail.dop}}" type="text" placeholder="Nom du prestataire">
    </ng-template>
  </form>

  <div>
    <input type="update" (click)="update()" value="Mettre à jour" />
    <input type="archive" (click)="archive()" value="Archiver" />
  </div>
</app-card>
