<app-card [config]="cardConfig">
  <form [formGroup]="formGroup" action="" *ngIf="numberplateService.currentDetail$ | async as numberplate">

    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.numberplate.label.numberplate_id'}"
                        [placeholder]="'form.site.numberplate.numberplate_id'"
                        [ctrl]="getControl('numberplate_id')">
        </app-input-text>
      </div>
    </div>


    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.numberplate.label.num_plate'}"
                        [placeholder]="'form.site.numberplate.num_plate'"
                        [ctrl]="getControl('num_plate')"
                        (onBlur)="update()">
        </app-input-text>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-input-date [label]="{label:'form.numberplate.label.dop'}"
                        [placeholder]="'form.numberplate.placeholder.dop'"
                        [ctrl]="getControl('dop')"
                        (onBlur)="update()">
        </app-input-date>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-select *ngIf="siteSelectConfig$ | async as siteSelectConfig"
                    [config]="siteSelectConfig"
                    (onBlur)="update()">
        </app-select>

        <input autofocus value="{{numberplate.site.name}}" type="text" disabled>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-select *ngIf="actifSelectConfig$ | async as actifSelectConfig"
                    [config]="actifSelectConfig"
                    (onBlur)="update()">
        </app-select>
      </div>
    </div>
  </form>
</app-card>
