<table class="table table-sm table-striped">
  <thead>
  <tr>
    <th *ngFor="let field of config.fields">
      <span class="fa-solid {{field.icon}}"> {{field.translateKey + field.field | translate}}</span>
    </th>
    <th *ngIf="config.actions"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of config.data">
    <td *ngFor="let field of config.fields">
      <ng-container [ngSwitch]="field.type">
        <ng-container *ngSwitchCase="fieldType.IMAGE"><img src="{{item[field.field] }}" width="50" height="50"></ng-container>
        <ng-container *ngSwitchCase="fieldType.STRING">{{item[field.field] }}</ng-container>
        <ng-container *ngSwitchCase="fieldType.DATE">{{item[field.field] }}</ng-container>
      </ng-container>
    </td>
    <td *ngIf="config.actions">
      <ng-container *ngFor="let action of config.actions">
        <button class="btn float-left btn-sm btn-warning icon fa {{action.icon}}" (click)="onClickHandler(action,item)"></button>
        <!--<span class="clickable icon fa {{action.icon}} " (click)="onClickHandler(action,item)"></span>-->
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>
