<div id="dashboard">
  <header id="header">
    <b>{{'header.breadcrumb' | translate}}</b>
  </header>

  <nav class="side-menu hide menu-show">
    <h3 class="text-center" style="color: white">KFM Framework</h3>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" *ngFor="let item of menu" (click)="navigate(item.link)">
         <span class="nav-link text-white" [class.active]="item.active">
           <span class="fa {{item.icon}}"></span>
           <span class="ms-2"> {{item.label | translate}}</span>
         </span>
      </li>
    </ul>
  </nav>
  <section id="main-content">
    <router-outlet></router-outlet>
  </section>
</div>



