@import '~assets/css/variable';
@import '~assets/css/common';
#dashboard {
  min-height: 100vh; //set the min height of screen
  background: $eee;
}

// Menu language -------------------------------------------------------------------------------------------------------
#menu-language {
  position: fixed;
  top: 0;
  right: 0;
}

.menu-language {
  position: fixed;
  top: $header-height;
  right: 0;
  background-color: $white;
  transition: .5s;
  overflow: hidden;
  z-index: 1;
  border-left: 1px solid $eee;
  border-bottom: 1px solid $eee;

  .menu-language-action {
    cursor: pointer;
    transition: .5s;
    padding: 8px 1rem;
    text-align: center;
    color: $primary-contrast-color;

    &:hover {
      background: $eee;
    }
  }
}

.menu-language-hide {
  width: 0px
}

.menu-language-show {
  width: 125px;
  padding: 5px;
}

// Menu ----------------------------------------------------------------------------------------------------------------
.side-menu {
  @extend .transition-common;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $primary-contrast-color;
  overflow: hidden;
  z-index:10;


  .menu-line {
    display: flex;
    flex-direction: row;
    color: $white;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background: $secondary-contrast-color;
      color: $primary-contrast-color;
    }

    .icon {
      min-width: $nav-min-width;
      height: $header-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .title {
      height: $header-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .logo {
    background: $secondary-contrast-color;
    color: $primary-contrast-color;
  }
}

.menu-hide {
  width: $nav-min-width
}

.menu-show {
  width: $nav-max-width
}

// header --------------------------------------------------------------------------------------------------------------
#header {
  position: fixed;
  top: 0;
  right: 0;
  height: $header-height;
  background: $primary-contrast-color;
  border-bottom: 1px solid $eee;
  transition: .5s;
  display: flex;
  flex-direction: row;
  color: $white;
  align-items: center;
  z-index: 2;

  #bread-crumb {
    flex: 3;
  }
}

.header-menu-show {
  left: $nav-max-width
}

.header-menu-hide {
  left: $nav-min-width
}

#toggle-menu, #change-language {
  min-width: $nav-min-width;
  height: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
}

// content -------------------------------------------------------------------------------------------------------------


.content-menu-show {
  margin-left: $nav-max-width
}

.content-menu-hide {
  margin-left: $nav-min-width
}

#main-content {
  padding: $header-height 0 0;
  background:$f5;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: .5s;
}
