<div id="dashboard">

  <app-dashboard-top-nav></app-dashboard-top-nav>

  <nav class="side-menu hide menu-show">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" *ngFor="let item of menu" (click)="navigate(item.link)">
         <span class="nav-link text-white" [class.active]="item.active">
           <span class="fa {{item.icon}}"></span>
           <span class="ms-2"> {{item.label | translate}}</span>
         </span>
      </li>
    </ul>
  </nav>

  <!--
    <app-dashboard-left-nav></app-dashboard-left-nav>
    -->

  <section id="main-content">
    <router-outlet></router-outlet>
  </section>

</div>



