@import '~assets/css/variable';

$nav-min-width: 68px;
$nav-max-width: 250px;
$header-height: 68px;
#dashboard {
  min-height: 100vh; //set the min height of screen
  //background: $withe;
}


// Menu ----------------------------------------------------------------------------------------------------------------
.side-menu {
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $primary-contrast-color;
  transition: .5s;
  overflow: hidden;
  cursor: pointer;


  .menu-line {
    display: flex;
    flex-direction: row;
    color: $white;

    &:hover {
      background-color: $primary-light-color;
    }

    .icon {
      min-width: $nav-min-width;
      height: $header-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: $primary-light-color;
      }
    }

    .title {
      height: $header-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.menu-hide {
  width: $nav-min-width
}

.menu-show {
  width: $nav-max-width
}

// header --------------------------------------------------------------------------------------------------------------
#header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: $nav-max-width;
  right: 0;
  height: $header-height;
  background: $white;
  border-bottom: 1px solid $eee;
  transition: .5s;
  display: flex;
  flex-direction: row;

  #bread-crumb {
    flex: 3;
  }
}

.header-menu-show {
  left: $nav-max-width
}

.header-menu-hide {
  left: $nav-min-width
}

#toggle-menu, #change-language {
  min-width: $nav-min-width;
  height: $header-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $dark;
}

// content -------------------------------------------------------------------------------------------------------------


.content-menu-show {
  margin-left: $nav-max-width
}

.content-menu-hide {
  margin-left: $nav-min-width
}

#main-content {
  padding: .5rem;
  padding-top: $header-height;
  transition: .5s;
}

app-logo {
  font-size: 0.6em;
  margin-top: 8px;
}
