<div class="row g-1 d-grid gap-3">

  <div class="col-md-4 input-group input-group-sm date p-2">
    <input type="text" class="form-control" value="" placeholder="Date début">
    <span class="input-group-append input-group-sm">
        <span class="input-group-text bg-white d-block"><i class="fa fa-calendar"></i></span>
    </span>
  </div>

  <div class="col-md-4 input-group input-group-sm date p-2">
    <input type="text" class="form-control" value="" placeholder="Date fin">
    <span class="input-group-append input-group-sm">
        <span class="input-group-text bg-white d-block"><i class="fa fa-calendar"></i></span>
    </span>
  </div>

  <div class="col-md-4 form-group p-2">
    <input type="text" class="form-control form-control-sm" name="u_tachygraphe_numcarte" value="" placeholder="N° carte">
  </div>

  <div class="col-md-12 form-group p-2">
    <textarea class="form-control form-control-sm" name="u_tachygraphe_comment" value="" rows="3" placeholder="Commentaire"></textarea>
  </div>

  <div class="col-md-12 p-2">
    <button class="btn btn-success btn-sm btn-block">Ajouter</button>
    <!-- <button class="btn btn-danger btn-sm btn-block">Annuler</button> -->
  </div>

</div>

<!-- Table to display elements from tachograph -->
<div class="text-center">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Date début (4a)</th>
      <th scope="col">Date fin (4b)</th>
      <th scope="col">N° carte (5b)</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Option</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-success">
      <td>{{null}}</td>
      <td>{{null}}</td>
      <td>{{null}}</td>
      <td>{{null}}</td>
      <td>
        <button class="btn float-end btn-sm btn-warning"><i class="fa fa-edit"></i></button>
        <button class="btn float-end btn-sm btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

