@import '~assets/css/variable';
.button{
  border-radius:3px;
  display: flex;
  flex-direction: row;
  margin:10px;
  background:$secondary-contrast-color;
  color:$primary-contrast-color;
  height:40px;
  justify-content: center;align-items: center;
  cursor:pointer;
  &:hover{
    background:$primary-contrast-color;
    color:$secondary-contrast-color;
  }
  span{
    flex:2;
    display: flex;flex-direction: column;justify-content: center;align-items: center;
    text-transform: uppercase;
  }
  i{
    width:40px;
    display: flex;flex-direction: column;justify-content: center;align-items: center;
  }
}
