<div *ngIf="siteService.currentDetail$ | async as site" class="container-fluid p-4 shadow mx-auto" style="max-width: 600px;">

  <ng-container *ngIf="site.site_id.length === 0; else data">
      <div class="alert alert-danger text-center" role="alert">
        Sélectionnez le site à modifier / mettre à jour
      </div>
  </ng-container>

  <ng-template #data>

      <div class="input-group input-group-sm mb-3">
        <input autofocus class="form-control form-control-sm" value="{{site.site_id}}" type="text-area" name="site_id"
               placeholder="ID du site" rows="4" disabled>
      </div>

      <div class="input-group input-group-sm mb-3">
        <input autofocus class="form-control form-control-sm" value="{{site.name}}" type="text" name="site_name"
               placeholder="Site name" disabled>
      </div>

      <div class="input-group input-group-sm mb-3">
        <input autofocus class="form-control form-control-sm" value="{{site.created_on}}" type="text"
               name="site_created_on" placeholder="Site créé le" disabled>
      </div>

      <div class="input-group input-group-sm mb-3">
        <textarea autofocus class="form-control form-control-sm" value="{{site.description}}" type="text-area"
                  id="site_description" name="site_description" placeholder="Description du site en quelques mots"
                  rows="4" disabled>{{site.description}}</textarea>
      </div>

      <div class="input-group input-group-sm mb-3">
        <button class="btn btn-sm btn-success btn-block">Enregistrer les modifications</button>
        <!-- <button class="btn btn-sm btn-danger btn-block">Retour à la liste</button> -->
      </div>

  </ng-template>
</div>
