<app-card [config]="cardConfig">
  <form *ngIf="siteService.currentDetail$ | async as site">
    <div class="alert alert-danger text-center" *ngIf="site.site_id.length === 0; else data">
      Sélectionnez le site à modifier / mettre à jour
    </div>
    <ng-template #data>
      <div class="flex-row">
        <div class="flex-cell">
          <input value="{{site.site_id}}" type="text" disabled/>
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-cell">
          <input value="{{site.name}}" type="text" placeholder="Site name" (blur)="update()"/>
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-cell">
          <input value="{{site.created_on}}" type="text" placeholder="Site créé le" (blur)="update()"/>
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-cell">
          <textarea value="{{site.description}}" type="text-area" (blur)="update()">{{site.description}}</textarea>
        </div>
      </div>
    </ng-template>
  </form>
  <div class="btn-area">
    <!--
    <button (click)="update()">Mettre à jour</button>
    -->
    <button (click)="archive()">Archiver</button>
  </div>
<!--
  <form [formGroup]="formGroup" *ngIf="siteService.currentDetail$ | async as site">
      <div class="flex-row">
        <div class="flex-cell">
          <input type="text" formControlName="site_id" value="{{site.site_id}}" />
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-cell">
          <input type="text" formControlName="created_on" value="{{site.created_on}}" (blur)="update()"/>
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-cell">
          <input type="text" formControlName="name" value="{{site.name}}" (blur)="update()"/>
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-cell">
          <input type="text" formControlName="description" value="{{site.description}}" (blur)="update()"/>
        </div>
      </div>
  </form>
  -->
</app-card>
