<app-card [config]="cardConfig">
  <form *ngIf="siteService.currentDetail$ | async as site">
    <div class="alert alert-danger text-center" *ngIf="site.site_id.length === 0; else data">
      Sélectionnez le site à modifier / mettre à jour
    </div>
    <ng-template #data>
      <div class="flex-row">
        <div class="flex-cell">
          <input value="{{site.site_id}}" type="text" disabled/>
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-cell">
          <input value="{{site.name}}" type="text" placeholder="Site name"/>
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-cell">
          <input value="{{site.created_on}}" type="text" placeholder="Site créé le"/>
        </div>
      </div>
      <div class="flex-row">
        <div class="flex-cell">
          <textarea value="{{site.description}}" type="text-area">{{site.description}}</textarea>
        </div>
      </div>
    </ng-template>
  </form>
  <div class="btn-area">
    <button (click)="update()">Mettre à jour</button>
    <button (click)="archive()">Archiver</button>
  </div>
</app-card>
