<form [formGroup]="adrGroup">
  <div class="flex-row">
    <div class="flex-cell">
      <app-input-date [label]="{label:'form.adr.label.start_date'}"
                      [placeholder]="'form.adr.placeholder.start_date'"
                      [ctrl]="getControl('start_date')">
      </app-input-date>
    </div>
    <div class="flex-cell">
      <app-input-date [label]="{label:'form.adr.label.end_date'}"
                      [placeholder]="'form.adr.placeholder.end_date'"
                      [ctrl]="getControl('end_date')">
      </app-input-date>
    </div>
    <div class="flex-cell">
      <app-select *ngIf="typeSelectConfig$ | async as typeSelectConfig"
                  [config]="typeSelectConfig">
      </app-select>
    </div>
  </div>
  <div class="flex-row">
    <div class="flex-cell">
      <app-textarea [label]="{label:'form.adr.label.comment'}"
                    [placeholder]="'form.adr.placeholder.comment'"
                    [ctrl]="getControl('comment')">
      </app-textarea>
    </div>
  </div>
  <div class="btn-area">
    <button (click)="addAdr()">Add</button>
  </div>
</form>

