<main id="page">
  <div class="left-nav" [class.left-nav-show-menu]="showLongMenu" [class.left-nav-hide-menu]="!showLongMenu" >
    <app-search-input [placeholder]="'search-input.grade-search'" (onValueChange)="search$.next($event)"></app-search-input>
    <app-button-icon (onClick)="create()" [labelWithParam]="labelWithParam" [icon]="'fa fa-plus'"></app-button-icon>
    <ng-container *ngIf="list$ | async  as list">
      <ng-container *ngIf="list.length > 0;else noData">
        <ul>
          <li *ngFor="let grade of list" (click)="detail(grade)">
            <span class="large" *ngIf="isValid; else Invalid">
                <i class="fa-solid fa-square-check" style="color: #04AA6D"></i> {{grade.name}}
            </span>
            <ng-template #Invalid>
            <span class="large">
                <i class="fa-solid fa-square-check" style="color: red"></i> {{grade.name}}
            </span>
            </ng-template>
          </li>
        </ul>
      </ng-container>
      <ng-template #noData>
        <span class="p-medium">{{'page.grade-list.no-data' | translate}}</span>
      </ng-template>
    </ng-container>
  </div>
  <section id="page-main-content" [class.main-content-show-menu]="showLongMenu" [class.main-content-hide-menu]="!showLongMenu" >
    <router-outlet></router-outlet>
  </section>
</main>
