<div class="container-fluid p-4 shadow mx-auto" style="max-width: 1350px;">

  <div class="row">
    <div class="col-sm-4 col-md-3">
      <a href="#"><img src="http://192.168.0.18/kfmframework../img/user_female.jpg" class="card-img-top"></a>
    </div>
    <div class="col-sm-8 col-md-9 bg-light p-2">
      <table class="table">
        <tr>
          <th>Marque :</th>
          <td>Marque</td>
        </tr>
        <tr>
          <th>Type de véhicule:</th>
          <td>Type de véhicule</td>
        </tr>
        <tr>
          <th>N° plaque :</th>
          <td>N° plaque</td>
        </tr>
        <tr>
          <th>N° chassis :</th>
          <td>N° chassis</td>
        </tr>
        <tr>
          <th>Immatriculé par :</th>
          <td>Immatriculé par</td>
        </tr>
        <tr>
          <th>Roule à :</th>
          <td>Roule à</td>
        </tr>
        <tr>
          <th>Date d'achat :</th>
          <td>Date d'achat</td>
        </tr>
        <tr>
          <th>Prix d'achat :</th>
          <td>Prix d'achat</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="">Carte d'identité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contrôle Technique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Intervention(s) technique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Métrologie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">ADR</a>
      </li>
    </ul>
  </div>
</div>
