<app-card *ngIf="userService.currentDetail$ | async as detail" [config]="cardConfig">
  <ng-container *ngIf="detail.user_id.length === 0; else data">
    <div class="alert alert-danger text-center" role="alert">
      Aucuns résultats trouvés.
    </div>
  </ng-container>
  <ng-template #data>
    <app-user-detail-summary [detail]="detail"></app-user-detail-summary>
    <app-tab [list]="tabs" (clickHandler)="currentTab = $event.type"></app-tab>
    <ng-container [ngSwitch]="currentTab">
      <app-user-detail-identity *ngSwitchCase="UserDetailTab.USER_IDENTITY" [detail]="detail"></app-user-detail-identity>
      <app-user-detail-address *ngSwitchCase="UserDetailTab.USER_ADDRESS"></app-user-detail-address>
      <app-user-detail-adr *ngSwitchCase="UserDetailTab.USER_ADR"></app-user-detail-adr>
      <app-user-detail-cap *ngSwitchCase="UserDetailTab.USER_CAP"></app-user-detail-cap>
      <app-user-detail-medical-selection *ngSwitchCase="UserDetailTab.USER_SELECTMED"></app-user-detail-medical-selection>
      <app-user-detail-tachograph *ngSwitchCase="UserDetailTab.USER_TACHOGRAPH"></app-user-detail-tachograph>
      <app-user-detail-credential *ngSwitchCase="UserDetailTab.USER_CREDENTIAL"></app-user-detail-credential>
    </ng-container>
  </ng-template>
  {{detail | json}}
</app-card>
