<!--
<ng-container *ngIf="config$ | async as config">
  <div class="container-fluid p-4 shadow mx-auto" style="max-width: 1250px;">
    <hr>
    <h1 class="text-center">Liste d'utilisateur</h1>
    <hr>
    <form method="POST" class="row g-3">
      <div class=" d-grid btn-block">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend input-group-sm">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="form-control" name="search" id="search" placeholder="Search">
        </div>
      </div>
      <div class="d-grid btn-block">
        <a href="" class="btn btn-sm btn-success btn-block">Ajouter un nouvel utilisateur</a>
      </div>
    </form>
    <app-generic-data-table [config]="config" (onClick)="handleClick($event)"></app-generic-data-table>
  </div>
</ng-container>
-->

<main class="table-users table flex-container" *ngIf="list$|async as list">

    <div class="col-md-2 d-grid gap-3">
      <div class="p-1">
        <input type="search" class="form-control form-control-sm">
      </div>
  <div class="p-1">
    <button class="btn btn-sm btn-success btn-block">Ajouter un utilisateur</button>
  </div>
      <div class="p-1">
        <tbody>
        <tr *ngFor="let user of list;let last">
          <td> <img class="pull-left img-circle nav-user-photo" width="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxhcCYW4QDWMOjOuUTxOd50KcJvK-rop9qE9zRltSbVS_bO-cfWA" /> </td>
          <td> {{user.lastname | uppercase}} {{user.firstname}} </td>
          <td> Builder Admin </td>
          <td> Last Login:  6/14/2017<br><small class="text-muted">2 days ago</small> </td>
        </tr>
        </tbody>
      </div>

      </div>
    <div class="col-md-6">
      <app-user-detail></app-user-detail>
    </div>
</main>
