@import '~assets/css/variable';

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .big-title {
    flex: 2;
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: .3s all ease;
      background: $primary-contrast-color;
      color: $white;

      &:hover {
        color: $primary-contrast-color;
        background: $white;
      }
    }
  }
}
