<header id="header" [class.header-menu-hide]="!showLongMenu" [class.header-menu-show]="showLongMenu">
  <div id="bread-crumb">
    <app-dashboard-bread-crumb></app-dashboard-bread-crumb>
  </div>
  <div id="menu-language" (clickOutside)="onClickOutSideMenuLanguage()">
    <div id="change-language" (click)="showLanguageMenu=!showLanguageMenu">
      <span>
        <i class="fas fa-bell fa-lg"></i>
      <span class="badge rounded-pill badge-notification bg-danger">0</span>
      </span>
    </div>
    <div class="menu-language" [class.menu-language-hide]="!showLanguageMenu"
         [class.menu-language-show]="showLanguageMenu" (click)="showLanguageMenu = !showLanguageMenu">
      <div class="menu-language-action" (click)="onClick('fr')">{{'change-language.french' | translate}}</div>
      <div class="menu-language-action" (click)="onClick('en')">{{'change-language.english' | translate}}</div>
    </div>
  </div>
</header>
