<form>
  <div class="flex-row">
    <div class="flex-cell">
      <app-input-text [label]="{label:'form.address.label.address_id'}"
                      [placeholder]="'form.address.placeholder.address_id'"
                      [ctrl]="getControl('address_id')"></app-input-text>
    </div>
    <div class="flex-cell">
      <app-input-text [label]="{label:'form.address.label.country'}"
                      [placeholder]="'form.address.placeholder.country'"
                      [ctrl]="getControl('country')"></app-input-text>
    </div>

    <div class="flex-cell">
      <app-input-text [label]="{label:'form.address.label.cp'}"
                      [placeholder]="'form.address.placeholder.cp'"
                      [ctrl]="getControl('cp')"></app-input-text>
    </div>
  </div>

  <div class="flex-row">
    <div class="flex-cell">
      <app-input-text [label]="{label:'form.address.label.num'}"
                      [placeholder]="'form.address.placeholder.num'"
                      [ctrl]="getControl('num')"></app-input-text>
    </div>

    <div class="flex-cell">
      <app-input-text [label]="{label:'form.address.label.road'}"
                      [placeholder]="'form.address.placeholder.road'"
                      [ctrl]="getControl('road')"></app-input-text>
    </div>

    <div class="flex-cell">
      <app-input-text [label]="{label:'form.address.label.town'}"
                      [placeholder]="'form.address.placeholder.town'"
                      [ctrl]="getControl('town')"></app-input-text>
    </div>
  </div>
</form>
