<main id="page">
  <div id="left-nav">
    <app-search-input [placeholder]="'search-input.user-search'"
                      (onValueChange)="search$.next($event)"></app-search-input>
    <ul *ngIf="list$ | async  as list">
      <li *ngFor="let site of list">
        {{site.name|uppercase}}
      </li>
    </ul>
  </div>
  <section id="main-content">
    <ng-container *ngIf="site$ | async as site; else noSelected">
      {{site |json}}
    </ng-container>
    <ng-template #noSelected>
      <app-card [config]="cardConfig">
        {{'site-list.no-data' | translate}}
      </app-card>
    </ng-template>
  </section>
</main>
