<form [formGroup]="formGroup">
  <div class="row g-3">
    <div class="col-md-3">
      <label>Nom</label>
      <input type="text" class="form-control form-control-sm" formControlName="lastname" >
    </div>

    <div class="col-md-3">
      <label>Prénom</label>
      <input type="text" class="form-control form-control-sm" formControlName="firstname" >
    </div>

    <div class="col-md-6">
      <label>Adresse email</label>
      <div class="input-group input-group-sm has-validation">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control form-control-sm" value="{{detail.email}}" disabled>
      </div>
    </div>

    <div class="col-md-3">
      <label>Tel. (Perso)</label>
      <input type="text" class="form-control form-control-sm" value="{{detail.telperso}}" disabled>
    </div>

    <div class="col-md-3">
      <label>Tel. (Pro)</label>
      <input type="text" class="form-control form-control-sm" value="{{detail.telpro}}" disabled>
    </div>

    <div class="col-md-6">
      <label>Nationalité</label>
      <input type="text" class="form-control form-control-sm" value="{{detail.nationality}}" disabled>
    </div>

    <div class="col-md-3">
      <label>Genre</label>
      <input type="text" class="form-control form-control-sm" value="{{detail.gender}}" disabled>
    </div>

    <div class="col-md-3">
      <label>Date de naissance</label>
      <input type="text" class="form-control form-control-sm" value="{{detail.dob}}" disabled>
    </div>

    <div class="col-md-6">
      <label>Lieu de naissance</label>
      <input type="text" class="form-control form-control-sm" value="{{detail.pob}}" disabled>
    </div>

    <div class="col-md-6">
      <label>Adresse du domicile actuel</label>
      <input type="text" class="form-control form-control-sm" value="{{null}}" disabled>
    </div>

    <div class="col-md-2">
      <label>Code Postal</label>
      <input type="text" class="form-control form-control-sm" value="{{null}}" disabled>
    </div>

    <div class="col-md-4">
      <label>Ville</label>
      <input type="text" class="form-control form-control-sm" value="{{null}}" disabled>
    </div>

    <div class="col-md-4">
      <label>N° registre national</label>
      <input type="text" class="form-control form-control-sm" value="{{detail.numirn}}" disabled>
    </div>

    <div class="col-md-2">
      <label>Permis</label>
      <input type="text" class="form-control form-control-sm" value="{{detail.driver_license}}" disabled>
    </div>

    <div class="col-md-2">
      <label>Statut</label>
      <input type="text" class="form-control form-control-sm" value="{{null}}" disabled>
    </div>

    <div class="col-md-2">
      <label>Site</label>
      <input type="text" class="form-control form-control-sm" value="{{null}}" disabled>
    </div>

    <div class="col-md-2">
      <label>Rang</label>
      <input type="text" class="form-control form-control-sm" value="{{null}}" disabled>
    </div>
  </div>
</form>
<hr>
<div class="d-grid btn-block">
  <button class="btn btn-sm btn-warning btn-block" (click)="onClick()">Modifier les informations de l'utilisateur</button>
  <button class="btn btn-sm btn-success btn-block">Retour à la liste des utilisateurs</button>
</div>
