<form [formGroup]="formGroup">
  <div class="flex-row">
    <div class="flex-cell">
      <span>Nom</span>
      <input type="text" formControlName="lastname" (blur)="update()"/>
    </div>
    <div class="flex-cell">
      <span>Prénom</span>
      <input type="text" formControlName="firstname" (blur)="update()"/>
    </div>

    <div class="flex-cell">
      <span>Adresse email</span>
      <div class="input-group">
        <input type="text" formControlName="email" (blur)="update()"/>
      </div>
    </div>

    <div class="flex-cell">
      <span>Tel. (Perso)</span>
      <input type="text" formControlName="telperso" (blur)="update()"/>
    </div>
  </div>

  <div class="flex-row">
    <div class="flex-cell">
      <span>Tel. (Pro)</span>
      <input type="text" formControlName="telpro" (blur)="update()"/>
    </div>

    <div class="flex-cell">
      <span>Nationalité</span>
      <input type="text" formControlName="nationality" (blur)="update()"/>
    </div>

    <div class="flex-cell">
      <span>Genre</span>
      <input type="text" formControlName="gender" (blur)="update()"/>
    </div>

    <div class="flex-cell">
      <span>Date de naissance</span>
      <input type="text" formControlName="dob" (blur)="update()"/>
    </div>
  </div>

  <div class="flex-row">
    <div class="flex-cell">
      <span>Lieu de naissance</span>
      <input type="text" formControlName="pob" (blur)="update()"/>
    </div>
  </div>
  <div class="flex-row">
    <div class="flex-cell">
      <span>N° registre national</span>
      <input type="text" formControlName="numirn" (blur)="update()"/>
    </div>

    <div class="flex-cell">
      <span>Permis</span>
      <input type="text" formControlName="driver_license" (blur)="update()"/>
    </div>
    <div class="flex-cell">
      <app-select *ngIf="statusSelectConfig$ | async as statusSelectConfig" [config]="statusSelectConfig"></app-select>
    </div>
    <div class="flex-cell">
      <app-select  *ngIf="siteSelectConfig$ | async as siteSelectConfig" [config]="siteSelectConfig"></app-select>
    </div>
  </div>
</form>
<!--
<div class="btn-area">
  <button (click)="update()">Mettre à jour les informations</button>
</div>
-->
