<form [formGroup]="formGroup">
  <div class="row g-3">

    <div class="col-md-3">
      <span>Nom</span>
      <input type="text" class="form-control form-control-sm" formControlName="lastname" >
    </div>
    <div class="col-md-3">
      <span>Prénom</span>
      <input type="text" class="form-control form-control-sm" formControlName="firstname" >
    </div>

    <div class="col-md-6">
      <span>Adresse email</span>
      <div class="input-group">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control form-control-sm" formControlName="email">
      </div>
    </div>

    <div class="col-md-3">
      <span>Tel. (Perso)</span>
      <input type="text" class="form-control form-control-sm" formControlName="telperso">
    </div>

    <div class="col-md-3">
      <span>Tel. (Pro)</span>
      <input type="text" class="form-control form-control-sm" formControlName="telpro">
    </div>

    <div class="col-md-6">
      <span>Nationalité</span>
      <input type="text" class="form-control form-control-sm" formControlName="nationality">
    </div>

    <div class="col-md-3">
      <span>Genre</span>
      <input type="text" class="form-control form-control-sm" formControlName="gender">
    </div>

    <div class="col-md-3">
      <span>Date de naissance</span>
      <input type="text" class="form-control form-control-sm" formControlName="dob">
    </div>

    <div class="col-md-6">
      <span>Lieu de naissance</span>
      <input type="text" class="form-control form-control-sm" formControlName="pob">
    </div>

    <div class="col-md-6">
      <span>Adresse du domicile actuel</span>
      <input type="text" class="form-control form-control-sm" value="">
    </div>

    <div class="col-md-2">
      <span>Code Postal</span>
      <input type="text" class="form-control form-control-sm" value="cp">
    </div>

    <div class="col-md-4">
      <span>Ville</span>
      <input type="text" class="form-control form-control-sm" value="">
    </div>

    <div class="col-md-4">
      <span>N° registre national</span>
      <input type="text" class="form-control form-control-sm" formControlName="numirn">
    </div>

    <div class="col-md-2">
      <span>Permis</span>
      <input type="text" class="form-control form-control-sm" formControlName="driver_license">
    </div>

    <div class="col-md-2">
      <span>Statut</span>
      <input type="text" class="form-control form-control-sm" formControlName="status">
    </div>

    <div class="col-md-2">
      <span>Date d'ajout</span>
      <input type="text" class="form-control form-control-sm" formControlName="created_on">
    </div>

    <div class="col-md-2">
      <span>Site</span>
      <input type="text" class="form-control form-control-sm" formControlName="site_name">
    </div>

    <div class="col-md-2">
      <span>Rang</span>
      <input type="text" class="form-control form-control-sm" formControlName="grade">
    </div>
  </div>
</form>
<hr>
<div class="d-grid btn-block">
  <button class="btn btn-sm btn-warning btn-block" (click)="onClick()">Modifier les informations de l'utilisateur</button>
  <button class="btn btn-sm btn-success btn-block">Retour à la liste des utilisateurs</button>
</div>
