<div class="flex-row">
  <div class="flex-cell">
    <img class="avatar" src="http://192.168.0.18/kfmframework../img/truck.jpg" alt="">
  </div>
  <div class="flex-cell flex-2">
    <table>
      <tr>
        <th>N° chassis :</th>
        <td>{{detail.num_chassis}}</td>
      </tr>
      <tr>
        <th>Immatriculé par :</th>
        <td>{{detail.numberplate.site.name}}</td>
      </tr>
      <tr>
        <th>N° plaque :</th>
        <td>{{detail.numberplate.num_plate}}</td>
      </tr>
      <tr>
        <th>Immatriculé par :</th>
        <td>{{detail.numberplate.site.name}}</td>
      </tr>
      <tr>
        <th>Roule à :</th>
        <td>{{detail.site.name}}</td>
      </tr>
      <tr>
        <th>Date d'achat :</th>
        <td>{{detail.dop | date :  "dd.MM.y"}}</td>
      </tr>
      <tr>
        <th>Prix d'achat :</th>
        <td>{{detail.price}}</td>
      </tr>
    </table>
  </div>
</div>
