<pre>{{detail | json}}</pre>
<div class="row">
  <div class="col-sm-4 col-md-3">
    <a href="#"><img src="http://192.168.0.18/kfmframework../img/truck.jpg" class="card-img-top" alt=""></a>
    <hr>
    <h3 class="text-center">{{detail.brand}}</h3>
  </div>
  <div class="col-sm-8 col-md-9 bg-light p-2">
    <table class="table">
      <tr>
        <th>Marque :</th>
        <td>{{detail.brand}}</td>
      </tr>
      <tr>
        <th>Type de véhicule:</th>
        <td>{{detail.type}}</td>
      </tr>
      <tr>
        <th>N° plaque :</th>
        <td>{{detail.numberplate.num_plate}}</td>
      </tr>
      <tr>
        <th>N° chassis :</th>
        <td>{{detail.num_chassis}}</td>
      </tr>
      <tr>
        <th>Immatriculé par :</th>
        <td>{{null}}</td>
      </tr>
      <tr>
        <th>Roule à :</th>
        <td>{{null}}</td>
      </tr>
      <tr>
        <th>Date d'achat :</th>
        <td>{{detail.dop}}</td>
      </tr>
      <tr>
        <th>Prix d'achat :</th>
        <td>{{detail.price}}</td>
      </tr>
    </table>
  </div>
</div>
