<div class="side-menu" [class.menu-hide]="!showLongMenu" [class.menu-show]="showLongMenu">
  <div class="menu-line logo">
      <span class="icon fas" [class.fa-bars]="!showLongMenu" [class.fa-times]="showLongMenu"
            (click)="onChangeShowLongMenu.emit(!showLongMenu)"></span>
    <span class="title">{{'Kauffman' | translate}}</span>
  </div>
  <div class="menu-line" *ngFor="let item of menu" (click)="navigate(item)">
    <span class="icon fa  {{item.icon}}"></span>
    <span class="title">{{item.label | translate}}</span>
  </div>
</div>
