<app-card [config]="cardConfig" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <form action="" *ngIf="statusService.currentDetail$ | async as status">
    <div class="flex-row" *ngIf="status.status_id.length === 0; else data">
      <div class="flex-cell">
        Sélectionnez le status à modifier / mettre à jour
      </div>
    </div>
    <ng-template #data>
      <div class="flex-row">
        <div class="flex-cell">
          <input autofocus value="{{status.status_id}}" type="text" placeholder="ID du site" disabled>
        </div>
        </div>
        <div class="flex-row">
          <div class="flex-cell">
            <input autofocus value="{{status.name}}" type="text" name="site_name" placeholder="Site name">
          </div>
        </div>
        <div class="flex-row">
          <div class="flex-cell">
            <textarea autofocus value="{{status.description}}" type="text-area"
                      placeholder="Description du site en quelques mots">{{status.description}}</textarea>
          </div>
        </div>
    </ng-template>
  </form>
  <div class="btn-area">
    <button (click)="update()">Mettre à jour</button>
    <button (click)="archive()">Archiver</button>
  </div>
</app-card>
