<app-card [config]="cardConfig">
  <form [formGroup]="formGroup" *ngIf="statusService.currentDetail$ | async as status">
      <div class="flex-row">
        <div class="flex-cell">
          <app-input-text [label]="{label:'form.status.label.status_id'}"
                          [placeholder]="'form.status.placeholder.status_id'"
                          [ctrl]="getControl('status_id')">
          </app-input-text>
        </div>
        </div>

        <div class="flex-row">
          <div class="flex-cell">
            <app-input-text [label]="{label:'form.status.label.name'}"
                            [placeholder]="'form.status.placeholder.name'"
                            [ctrl]="getControl('name')"
                            (onBlur)="update()">
            </app-input-text>
          </div>
        </div>

        <div class="flex-row">
          <div class="flex-cell">
            <app-textarea [label]="{label:'form.status.label.description'}"
                          [placeholder]="'form.status.placeholder.description'"
                          [ctrl]="getControl('description')"
                          (onBlur)="update()">
            </app-textarea>
          </div>
        </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-select [config]="actifSelectConfig"
                    (onBlur)="update()">
        </app-select>
      </div>
    </div>

    <input value="{{status.active}}" type="text" placeholder="Actif"/>
  </form>
  <!--
  <div class="btn-area">
    <button (click)="update()">Mettre à jour</button>
    <button (click)="archive()">Archiver</button>
   </div>
  -->
</app-card>
