<app-card [config]="cardConfig">
  <form action="">
    <app-input-text [label]="{label:'form.prestataire.label.name'}" [placeholder]="'form.prestataire.placehodler.name'" [ctrl]="getControl('name')"></app-input-text>
    <app-input-text [label]="{label:'form.prestataire.label.tel'}" [placeholder]="'form.prestataire.placehodler.tel'" [ctrl]="getControl('tel')"></app-input-text>
    <app-input-text [label]="{label:'form.prestataire.label.email'}" [placeholder]="'form.prestataire.placehodler.email'" [ctrl]="getControl('email')"></app-input-text>
    <app-input-text [label]="{label:'form.prestataire.label.service'}" [placeholder]="'form.prestataire.placehodler.service'" [ctrl]="getControl('service')"></app-input-text>
  </form>

  <div class="btn-area">
    <input type="button" (click)="save()" value="Enregistrer" />
  </div>
</app-card>
