<app-card [config]="cardConfig">
  <form [formGroup]="formGroup" *ngIf="gradeService.currentDetail$ | async as grade">
    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.grade.label.grade_id'}"
                        [placeholder]="'form.grade.placeholder.grade_id'"
                        [ctrl]="getControl('grade_id')"
                        (onBlur)="update()">
        </app-input-text>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.grade.label.name'}"
                        [placeholder]="'form.grade.placeholder.name'"
                        [ctrl]="getControl('name')"
                        (onBlur)="update()">
        </app-input-text>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-textarea [label]="{label:'form.grade.label.comment'}"
                      [placeholder]="'form.grade.placeholder.comment'"
                      [ctrl]="getControl('comment')"
                      (onBlur)="update()">
        </app-textarea>

      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-select [config]="actifSelectConfig"
                    (onBlur)="update()">
        </app-select>
      </div>
    </div>
    <input class="form-control form-control-sm" value="{{detail.active}}" type="text" name="active" placeholder="active">

  </form>
  <!--
  <div class="btn-area">
    <button (click)="update()">Mettre à jour</button>
    <button (click)="archive()">Archiver</button>
   </div>
  -->
</app-card>
