<main id="page">
  <div id="left-nav">
    <app-search-input [placeholder]="'search-input.status-search'"
                      (onValueChange)="search$.next($event)"></app-search-input>
    <ul *ngIf="list$ | async  as list">
      <li *ngFor="let status of list">
        {{status.name |uppercase}}
      </li>
    </ul>
  </div>
  <section id="main-content">
    <ng-container *ngIf="status$ | async as status; else noSelected">
      {{status |json}}
    </ng-container>
    <ng-template #noSelected>
      <app-card [config]="cardConfig">
        {{'status-list.no-data' | translate}}
      </app-card>
    </ng-template>
  </section>
</main>
