/* You can add global styles to this file, and also import other style files */

.nav-link .fa {
  transition: all 1s
}

.nav-link:hover .fa {
  transform: rotate(360deg)
}
.clickable{
  cursor:pointer;
  &:hover{

  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'assets/css/table';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
