<app-card [config]="cardConfig">
  <form action="">
    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.status.label.name'}" [placeholder]="'form.status.placehodler.name'"
                        [ctrl]="getControl('name')"></app-input-text>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-cell">
        <app-textarea [label]="{label:'form.status.label.description'}"
                      [placeholder]="'form.status.placehodler.description'"
                      [ctrl]="getControl('description')"></app-textarea>
      </div>
    </div>
  </form>
  <div class="btn-area">
    <button (click)="save()">Enregistrer</button>
  </div>
</app-card>
