<app-card [config]="cardConfig">
  <form action="" *ngIf="prestataireService.currentDetail$ | async as prestataire">

    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.prestataire.label.prestataire_id'}"
                        [placeholder]="'form.prestataire.placeholder.prestataire_id'"
                        [ctrl]="getControl('prestataire_id')">
        </app-input-text>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.prestataire.label.name'}"
                        [placeholder]="'form.prestataire.placeholder.name'"
                        [ctrl]="getControl('name')"
                        (onBlur)="update()">
        </app-input-text>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.prestataire.label.service'}"
                        [placeholder]="'form.prestataire.placeholder.service'"
                        [ctrl]="getControl('service')"
                        (onBlur)="update()">
        </app-input-text>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.prestataire.label.tel'}"
                        [placeholder]="'form.prestataire.placeholder.tel'"
                        [ctrl]="getControl('tel')"
                        (onBlur)="update()">
        </app-input-text>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-input-text [label]="{label:'form.prestataire.label.email'}"
                        [placeholder]="'form.prestataire.placeholder.email'"
                        [ctrl]="getControl('email')"
                        (onBlur)="update()">
        </app-input-text>
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-cell">
        <app-select *ngIf="actifSelectConfig$ | async as actifSelectConfig"
                    [config]="actifSelectConfig"
                    (onBlur)="update()">
        </app-select>
      </div>
    </div>
  </form>
</app-card>

