<p>prestataire-detail works!</p>

<ng-container *ngIf="prestataireService.currentDetail$ | async as detail">
  <div class="container-fluid p-4 shadow mx-auto" style="max-width: 1250px;">
    <pre>{{ detail | json }}</pre>
  <ng-container *ngIf="detail.prestataire_id.length ===0;else data">
    <div class="alert alert-danger text-center" role="alert">
      Aucuns résultats trouvés.
    </div>
  </ng-container>
  <ng-template #data>
    <div class="container-fluid p-4 shadow mx-auto" style="max-width: 600px;">
      <h1 class="text-center">Mettre à jour le rôle</h1>
      <hr>
      <div class="card-group justify-content-center">
        <form method="POST" class="row g-3">
          <div class="col-md-12">
            <input autofocus class="form-control form-control-sm" value="{{null}}" type="hidden" name="role_id">
            <input autofocus class="form-control form-control-sm" value="{{null}}" type="text" name="role_name" placeholder="Role name">
          </div>
          <div class="col-md-12">
            <textarea autofocus class="form-control form-control-sm" value="{{null}}" type="text-area" name="role_description" rows="4" placeholder="Description du rôle">{{null}}</textarea>
          </div>
          <div class="d-grid btn-block">
            <input class="btn btn-sm btn-success" type="submit" value="Enregistrer">
          </div>
          <div class="d-grid btn-block">
            <a href="{{null}}" class="btn btn-sm btn-danger">Retour à la liste</a>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  </div>
</ng-container>

