<form [formGroup]="formGroup">
  <span>Ajouter une nouvelle période</span>
  <div class="flex-row">
    <div class="flex-cell">
      <app-input-date [label]="{label:'form.period.label.start_date'}"
                      [placeholder]="'form.period.placeholder.start_date'"
                      [ctrl]="getControl('start_date')">
      </app-input-date>
    </div>
    <div class="flex-cell">
      <app-input-date [label]="{label:'form.period.label.end_date'}"
                      [placeholder]="'form.period.placeholder.end_date'"
                      [ctrl]="getControl('end_date')">
      </app-input-date>
    </div>
    <div class="btn-area">
      <button (click)="savePeriod()">add</button>
    </div>
  </div>
</form>

<form [formGroup]="formGroup">
  <div class="flex-row">
    <div class="flex-cell">
      <app-input-date [label]="{label:'form.appointment.label.start_date'}"
                      [placeholder]="'form.appointment.placeholder.start_date'"
                      [ctrl]="getControl('start_date')">
      </app-input-date>
    </div>
    <div class="flex-cell">
      <app-input-date [label]="{label:'form.appointment.label.end_date'}"
                      [placeholder]="'form.appointment.placeholder.end_date'"
                      [ctrl]="getControl('end_date')">
      </app-input-date>
    </div>
    <div class="flex-cell">
      <app-select *ngIf="prestataireSelectConfig$ | async as prestataireSelectConfig"
                  [config]="prestataireSelectConfig"
                  (onBlur)="update()">
      </app-select>
    </div>
    <div class="flex-cell">
      <app-input-text [label]="{label:'form.appointment.label.price'}"
                      [placeholder]="'form.appointment.placeholder.price'"
                      [ctrl]="getControl('price')"></app-input-text>
    </div>
    <div class="btn-area">
      <button (click)="saveAppointment()">add</button>
    </div>
  </div>


</form>

